body {
    background-color: black;
}

#H1-header {
    text-align: center;
    font-size: 45px;
    color: palevioletred;
    font-family: 'Times New Roman', Times, serif;
}

#Form-Tag {
    text-align: center;
}

#Search-Label {
    font-size: 18px;
    color: lightpink;
    font-family: 'Times New Roman', Times, serif;
}

#Search-Button {
    background-color: rosybrown;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}

#Search-Bar {
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 1px;
    width: 55%;
    font-family: 'Times New Roman', Times, serif;
}

::placeholder {
    font-style: italic;
    opacity: 0.8;
}